.root {
    position: relative;
    left: -100px;
}
.icon {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    left: 11px;
    top: 8px;
    cursor: pointer;
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    right: 10px;
    top: 8px;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.search {
    border: 1px solid rgba(0,0,0, 0.1);
    width: 300px;
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    padding-left: 40px;
    transition: all 0.15s ease-in-out;
    &:focus {
        border: 1px solid rgba(0,0,0, 0.3);
        width: 350px;
    }
}
